html {
    position: relative;
    min-height: 100%;
  }

  * {
      background: url(../images/use_your_illusion.png);
  }
  
  body {
      background: url();
      /* Margin bottom by footer height */
        margin-bottom: 60px;
  }
  
  #wrap {
      background-color:#262626;
      color:#646464;
  }
  
  #header {
      background-color:black;
      height:70px;
  }
  
  #title {
      color:#fff;
      text-align:center;
      font-family: 'Staatliches', cursive;
      padding-top:16px;
      font-size: 55px;
  }
  
  #buttonArea{
      margin-top:10px;
      margin-right: 20px;
      margin-left: 20px;
      margin: 20px;
      padding: 10px;
  }
  
  .btn {
      margin:3px;
      border: 4px solid rgb(0, 238, 255);
      text-align: center;
  }

  #topic-input {
      color: white;
  }

  label {
      color: white;
      font-family: 'Staatliches', cursive;
      font-size: 28px;
      
  }

  img {
      display: inline-block;
    max-width: 450px;
	max-height: 200px;
  }

p {
    color: white;
}

.gif {
	display: inline-block;
}
  
  #gifArea {
      margin-top:20px;
  }
  
  .blueBorder {
      border-radius: 5px;
      border: 4px solid rgb(0, 238, 255);
  }
  
  .submit {
      background-color: #ffffff;
      color:white;
      border:1px solid #646464;
  }
  
  .footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 60px;
      line-height: 60px;
      text-align:center;
      background-color: black;
  }
  
  .clear {
      clear:both;
  }